.App {
  /* width: 80%;
  margin: 0 auto; */
}

/* .App-header {
  background-color: #F5F5F5;
  padding: 1em;
  margin-bottom: 2em;
}

.App-intro {
  font-size: large;
} */

.unstyled-list {
  list-style: none;
}

li {
  margin: 10px;
  font-size: .8em;
}

.selectable {
  cursor: pointer;
}

.editable {
  display: inline-block;
  background-color: #E6E6E6;
  text-align: center;
  min-width: 5em;
  padding: .1em;
  margin: .1em;
}

.fixed {
  position: fixed;
}